<div class="section sectionGithub">
	<div id="github" class="sectionContent">
		<h2>Check out my Github:</h2>
		<p>The repository for this site is hosted there. Here are a couple of other repos as well.</p>
		<ul>
			<li><a href="https://github.com/dmls/portfolio">This portfolio site</a></li>
			<li><a href="https://github.com/dmls/react">React quick start template</a></li>
		</ul>
		
		<h2>Work:</h2>
		<ul>
			<li><a href="https://www.buckeyebroadband.com/" target="_blank">Buckeye Broadband</a></li>
			<li><a href="http://modelogoldcup2019.rev.dja.com" target="_blank">Modelo</a></li>
			<li><a href="/images/work/dashboard.png" target="_blank">Rebate Admin Dashboard</a></li>
		</ul>
	</div>
</div>

