<div class="section sectionBlack">
	<div id="tech" class="sectionContent sectionTech">
		<h2>Languages/Technologies</h2>
		<p>A short list of the languages and technology stack that I enjoy using and am most familiar with.</p>
		<ul>
			<li>PHP</li>
			<li>jQuery &amp; JavaScript</li>
			<li>AngularJS</li>
			<li>HTML &amp; CSS/SASS</li>
			<li>DevOps</li>
		</ul>
		<ul>
			<li>GNU/Linux</li>
			<li>Python</li>
			<li>LAMP Stack</li>
			<li>WordPress</li>
			<li>Magento</li>
		</ul>
	</div>
</div>

