$mobileWidth: 480px;
$mobilemax: '(max-width: $mobileWidth)';
$white: #fff;
$black: #000;
$blue: #1eaeeb;
/* app css stylesheet */

/* header */
.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;

	@media #{$mobilemax} {
		background: red;
	}

	&:before {
		content: "[";
	}

	&:after {
		content: "]";
	}

	li {
		display: inline;
		
		&:before {
			content: "|";
			padding-right: 0.3em;
		}

		&:nth-child(1):before {
			content: "";
			padding: 0;
		}
	}
}

/* site styles */

p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 10px 0 10px 1em;
}

li:before {
	content: "• ";
	color: $blue;
}

body {
	margin: 0;
	font-family: "Open-Sans", sans-serif;
	color: #121317;
}

/* form */
form {
	.ng-invalid {
		&.ng-touched {
			border: 4px solid #fa787e;
		}
	}

	.ng-valid {
		&.ng-touched {
			border: 4px solid #78ea89;	
		}
	}
}

.header {
	padding: 15px;
	border-bottom: 1px solid #ccc;

	div {
		display: inline-block;
		vertical-align: middle;
	}

	.logo {
		margin-top: 0;
	}

	.links {
		float: right;
		padding-top: 18px;
		
		a {
			color: #121317;
			text-decoration: none;
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

.logo {
	width: 140px;
	height: 80px;
	background: url('images/logo.png');
	background-size: contain;
	background-repeat: none;
}

.heading {
	margin: 25px 20px 0;
}

.headerText {
	margin-top: 25px; 
}

#main {
	margin: 40px auto; 
	padding: 45px;
	box-sizing: border-box;
	max-width: 980px; 
}

.content {
	padding: 45px;
	border: 1px solid #ddd;
	border-radius: 3px;

	h1,
	h2 {
		padding-bottom: 0.3em;
		border-bottom: 1px solid #eee;
	}

	h1:first-child {
		margin-top: 0;
	}

	p { 
		line-height: 30px;
	}

	a {
		color: #1eaeeb;
	}
}

.techIcon {
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 40px;
	width: 70px;
	height: 60px;
}

.techIconsRow {
	display: block;
	text-align: center;
}

.techIconContainer {
	display: inline-block;
	padding: 20px 0;
	text-align: left;
	width: 210px;
}

.techIcon_name {
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
}

.techIcon_php {
	background-image: url('./images/logo_php.png');
	margin-top: 10px;
}

.techIcon_javascript {
	background-image: url('./images/logo_javascript.png');
}

.techIcon_linux {
	background-image: url('./images/logo_linux.png');
}

.techIcon_magento {
	background-image: url('./images/logo_magento.png');
}

.techIcon_mysql {
	background-image: url('./images/logo_mysql.png');
}

.techIcon_wordpress {
	background-image: url('./images/logo_wordpress.png');
}

.techIcon_html {
	background-image: url('./images/logo_html5.png');
}

.techIcon_devops {
	background-image: url('./images/logo_devops.png');
}


// new 
.sectionIntro {
	background-image: url('./images/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: bottom;
	width: 100%;
}

.sectionBlack {
	background: $black;

	.sectionContent {
		color: $white;
	}

	p {
		color: $white;
	}
}

.sectionAbout {
	text-align: center;
	padding: 200px 0;
	font-family: "Times New Roman";
	font-size: 20px;
}

.sectionIntro {
	color: $white;
	text-align: center;
	text-transform: uppercase;
}

.sectionIntro-content {
	padding: 355px 0;
}

.sectionContent {
	max-width: 750px;
	margin: 0 auto;
}

.sectionIntro h1,
.sectionGithub h2 {
	text-align: center;
	color: $white;
	font-size: 40px;
	text-transform: uppercase;
}

.sectionGithub {
	background: url('images/about-bg.jpg') no-repeat center;
	background-size: cover;
	font-family: 'Times New Roman';

	.sectionContent {
		width: 1170px;
		max-width: none;
		padding: 100px 0;
		color: $white;
		font-size: 20px;
	}

	h2 {
		text-align: left;
		font-size: 30px;
		font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

	}

	ul {
		margin: 30px 0;	
	}

	li {
		padding: 5px 0;
	}

	a {
		color: $white;
		text-decoration: none;
	}
}

.sectionTech {
	padding: 100px 0; 
	text-align: center;
	
	h2,
	p {
		padding: 10px 0;
	}

	ul {
		display: inline-block;
		text-align: left;
		padding: 10px 70px;
	}
}

.sectionContact {
	background: url('images/alignment-bg.jpg') no-repeat center;
	background-size: cover;

	.sectionContent {
		padding: 200px 0;
	}
}

.contactSimple {
	background: $black;
	padding: 30px;
	border-radius: 4px;
	text-align: center;

	span {
		color: $white;
	}

	a {
		color: $blue;
		text-decoration: none;
	}
}

.contactForm {
	label {
		color: $white;
		font-weight: bold;
		font-size: 18px;
	}

	input {
		display: block;
		width: 100%;
		margin: 10px auto 15px;
		padding: 10px 6px;
		box-sizing: border-box;
		border-radius: 3px;
	}

	textarea {
		box-sizing: border-box;	
	}

	.contactForm-content {
		width: 100%;
		height: 200px;
		border-radius: 3px;
		margin: 10px auto 15px;
	}
	
	.yesno {
		display: none;
	}
}

.contactForm-container {
	width: 400px;
	margin: 0 auto;
	background: $black;
	border-radius: 20px;
}

.contactForm-head {
	width: 100%;
	background: $blue;
	border-radius: 20px 20px 0 0;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 30px;
	
	h3 {
		text-transform: uppercase;
	}
}

.contactForm-fields {
	margin: 0 25px;
	padding-bottom: 32px;
}

.contactForm-submit {
	background: $blue;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	padding: 18px 32px !important;
}

.circle {
	width: 70px;
	height: 70px;
	border: 2px solid;
	border-radius: 40px;
	text-align: center;
	font-size: 45px;
	text-decoration: none;

	p {
		margin: 10px 0 0 0;
	}
}

.circleWhite {
	border-color: #fff;
	color: #fff;
}

.downArrows:before {
	content: "▼";
}

a.circleWhite {
	display: block;
	margin: 0 auto;
}

@media (max-width: 480px) {
.header {
	.logo { 
		display: block; margin: 0 auto;
	}

	.headerText {
		display: block;
		text-align: center;
	}

	.links {
		float: none;
		margin: 5px auto;
		display: block;
		text-align: center;
	}
}

#main {
	padding: 6px;
}

.content {
	padding: 10px;
}

}
